<div class="main">
    <app-menu-nav></app-menu-nav>
    <br>
<div style="text-align: center;">
<h2>Haz una reservación a la cancha que quieras</h2>
<br>
<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <br>
        <div class="form-group">
            <label for="horaInicio"></label>
            <input type="text" class="form-control" id="horaInicio"
                   required
                   [(ngModel)]="model.hora_inicio" name="name"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="horaFin"></label>
            <input type="text" class="form-control" id="horaFin"
                   required
                   [(ngModel)]="model.hora_final" name="horaFin"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
            </div>
          </div>
        <br>
        <div class="form-group">
          <label for="fecha"></label>
          <input type="text" class="form-control" id="fecha"
                 required
                 [(ngModel)]="model.fecha" name="fecha"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newSubmit()">Reiniciar</button>
      </form>
    </div>

</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>

