<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Porfavor ingrese el usuario correcto
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="password"></label>
          <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.password" name="password">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Ingresar</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newHero()">Reiniciar</button>
      </form>
    </div>
