<div class="main">
    <br>
    <br>
    <div class="fade-in">
        <div style="text-align: center;">
        <h2>Gestor de Canchas</h2> 
    </div>
    </div>
    <div class="fade-in2">
        <div style="text-align:center;">
        <p>Desarrollo Web</p>
        <p>Grupo 1: Santiago Aviles, Gabriela Luigi, Cesar Maldonado<p>
        <p>Pontificia Universidad Javeriana</p>
        <br>
    </div>
    </div>
        <div style="text-align: center;">
           <a routerLink="/Canchas">cancha</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
   
</div>