<div class="wrapper">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a routerLink="/Crear-Cancha">Crear Cancha</a></li>
            <li><a routerLink="/Revervar">Reservar Cancha</a></li>
            <li><a routerLink="/Cancelar">Cancelar Reserva</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>Cerrar Sesion</a></li>
            
        </ul>
    
    </div>
    
    <div class="main_content">
      <div class="header">Bienvenido al gestor de canchas.</div>
      <div class="info">
        <div>Por favor selecciona la cancha de la que deseas conocer su información:</div>
        <div class="form-group">
          <label for="cancha">Seleccionar Cancha:</label>
          <select class="form-control" id="cancha" [(ngModel)]="canchaSeleccionada" name="cancha" (change)="mostrarInformacionCancha()">
            <option *ngFor="let pow of cancha" [ngValue]="pow">{{pow.nombreCancha}}</option>
          </select>
        </div>
        <br>
        <br>
        <div *ngIf="canchaSeleccionada">
          <p>Numero de Identificación: {{ numeroIdentificacion }}</p>
          <p>Hora de apertura: {{ horaApertura }}</p>
          <p>Hora de cierre: {{ horaCierre }}</p>
        </div>
        <br>
        <app-calendario></app-calendario>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
