<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.nombreCancha" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Por favor ingrese el nombre del equipo correctamente
          </div>
        </div>
        <br>
        <br>
        <br>

        <br>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newSubmit()">Reiniciar</button>
      </form>
    </div>
