<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #canchaForm="ngForm">
      <div class="form-group">
        <label for="nombreCancha">Nombre de la Cancha</label>
        <input type="text" class="form-control" id="nombreCancha"
               required
               [(ngModel)]="model.nombreCancha" name="nombreCancha"
               #nombreCancha="ngModel">
        <div [hidden]="nombreCancha.valid || nombreCancha.pristine"
             class="alert alert-danger">
          Por favor ingrese el nombre de la cancha correctamente
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="Fecha">Fecha</label>
        <input type="text" class="form-control" id="Fecha"
               required
               [(ngModel)]="model.fecha" name="Fecha"
               #fecha="ngModel">
      </div>
      <br>
      <div class="form-group">
        <label for="horaInic">Hora que abre</label>
        <input type="number" class="form-control" id="horaInic"
               required
               [(ngModel)]="model.horaInicio" name="horaInic"
               #horaInicio="ngModel">
      </div>
      <br>
      <div class="form-group">
        <label for="horaFin">Hora que cierra</label>
        <input type="number" class="form-control" id="horaFin"
               required
               [(ngModel)]="model.horaFin" name="horaFin"
               #horaFin="ngModel">
      </div>
      <br>
      <button type="submit" class="btn btn-default">Crear Cancha</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newSubmit()">Reiniciar</button>
    </form>
  </div>
  <div *ngIf="showSuccessMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="showErrorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>
