<div class="container">
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Por favor ingrese el nombre del equipo correctamente
          </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="equipo"></label>
          <select class="form-control" id="equipo"
                  required
                  [(ngModel)]="model.equipo" name="equipo"
                  #power="ngModel">
            <option *ngFor="let pow of equipo" [value]="pow">{{pow}}</option>
          </select>
          <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
            Se necesita seleccionar un equipo
          </div>
        </div>
        <br>
        <div class="form-group 1">
          <label for="equipo2"></label>
          <select class="form-control" id="equipo2"
                  required
                  [(ngModel)]="model.equipo" name="equipo"
                  #power="ngModel">
            <option *ngFor="let pow of equipo" [value]="pow">{{pow}}</option>
          </select>
          <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
            Se necesita seleccionar otro equipo
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="newSubmit()">Reiniciar</button>
      </form>
    </div>
