a:link, a:visited {
    background-color: #033f05;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 15px 20px rgba( 0, 0, 0, 0.2);
  }
  
  a:hover, a:active {
    background-color: #07811b;
    transform: scale(0.98)
  }

  nav{
    background: #3b3c36;
    padding: 2%;
    display: grid;
  }